.addTaskBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: auto;
  margin-top: -26px;
  gap: 8px;
}

.input {
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  padding: 16px;
  flex: 1;
  color: var(--gray-300);
}

.input:focus {
  box-shadow: 0 0 0 2px var(--purple-500);
  color: var(--gray-100);
}

.button {
  background: var(--blue-500);
  border: none;
  border-radius: 8px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--gray-100);
}

.button:hover {
  background: var(--blue-300);
  color: var(--gray-100);
}
